@CHARSET "ISO-8859-1";

 th{
    outline-style:groove;outline-width:thin;outline-color:yellow;
	border-style:solid;
	outline-style:inset;height:10px;;
	font-size:30px;border-width:thin;
	border:threedshadow;
	 
	}
 	
 .td{
    outline-style:groove;outline-width:thin;outline-color:yellow;
	border-style:solid;
	outline-style:inset;height:10px;;
	font-size:30px;border-width:thin;
	border:threedshadow;
	 
	}